@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500&family=Playfair+Display:wght@600&family=Titillium+Web:wght@600&display=swap");

@font-face {
  font-family: "anonymous";
  src: url("./fonts/AnonymousPro-Regular.ttf");
}

@font-face {
  font-family: "judge";
  src: url("./fonts/F37Judge-MediumCompressed.ttf");
}

body {
  background-color: rgb(33, 12, 94);
  overflow-x: hidden;
}

p {
  margin: 0;
}

.Overflow {
  margin-left: -100px;
}

.Marquee {
  margin-right: 30px;
}

.Marquee img {
  border-radius: 15px;
}