@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css?family=blackchancery");
@import url("https://fonts.googleapis.com/css?family=morris+roman");
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  background-color: rgb(33, 12, 94);
  overflow-x: hidden;
}

a {
  color: black;
}

a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }

.Overflow {
  margin-left: -100px;
  overflow-x: hidden;
}

.Marquee {
  margin-right: 30px;
}

.Marquee img {
  border-radius: 15px;
}